<div>
    <form id="frmMeteImpegni" role="form" ng-submit="salvaMeteImpegni()" name="mete_impegni">
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">

                <div class="notifica feedback" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>


                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>


                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><b>Meta e Impegni</b></span>
                            <span class="sm-headline">Per la tappa della {{info.user.tappa}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <br/>
                    <div class="card-content">
                        <md-input-container class="md-block">
                            <label>Inserisci Meta</label>
                            <input required id="meta" ng-model="dati.meta.azione" name="meta">
                        </md-input-container>

                        <br>
                        <br>
                        <br>

                        <md-input-container class="md-block">
                            <label>Inserisci il primo impegno</label>
                            <input required id="impegno1" ng-model="dati.impegno1.azione" name="impegno1">
                        </md-input-container>

                        <br>
                        <br>

                        <md-input-container class="md-block">
                            <label>Inserisci il secondo impegno</label>
                            <input id="impegno2" ng-model="dati.impegno2.azione" name="impegno2">
                        </md-input-container>

                        <br>
                        <br>

                        <md-input-container class="md-block">
                            <label>Inserisci il terzo impegno</label>
                            <input id="impegno3" ng-model="dati.impegno3.azione" name="impegno3">
                        </md-input-container>
                    </div>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-button type=submit" class="md-raised md-primary">SALVA</md-button>
                    </md-card-actions>

                </md-card>
            </div>
        </md-content>
    </form>
</div>