<md-content class="md-padding" layout-xs="column" layout="row">

    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">{{ error.message }}</div>
    <div class="notifica feedback" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>


            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Profilo personale capo</span>
                    <span class="md-subhead">di <b>{{dati.user.nome}} {{dati.user.cognome}}</b></span>
                </md-card-title-text>

            </md-card-title>

            <div class="card-content">
                <div>
                    Codice socio: {{dati.user.codice}}
                </div>
                <div ng-if="dati.user.staff == true">
                    Staff: Stella Polare
                </div>
                <div>
                    Email: {{dati.user.email}}
                </div>
                <br><br>

                <div class="knot rot-dx"></div>
                <div class="knot rot-sx"></div>

                <div class="md-media-lg card-media ">
                    <img class="img-profile" ng-src="{{dati.user.img}}">
                </div>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <a href="#!/aggiornaProfiloCapo/{{info.user.codice}}">
                    <md-button class="md-raised md-primary" ng-if="dati.user.codice == info.user.codice">MODIFICA
                    </md-button>
                </a>
            </md-card-actions>

        </md-card>


        <!-- CAMICIA CON DISTINTIVI -->
        <md-card class="camicia">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">La mia camicia</span>

                </md-card-title-text>
            </md-card-title>
            <br>
            <div class="card-content">
                <div layout="row" layout-wrap class="camicia">

                    <div flex="100">
                        <img ng-src="../images/fis.jpg" class="fis">
                    </div>
                    <div flex="50">
                        <img ng-src="../images/wosm.png" class="internazionale" ng-if="dati.user.sesso == 'M'">
                        <img ng-src="../images/wagggs.png" class="internazionale" ng-if="dati.user.sesso == 'F'">
                    </div>
                    <div flex="50">
                        <img ng-src="../images/promessa.png" class="promessa">
                    </div>
                    <div flex="50">
                        <!-- EVENTUALI BREVETTI -->
                        <img ng-src="../{{distintivo.img_url}}" class="brevetto"
                             ng-repeat="distintivo in dati.distintivi | orderBy:'nome'"
                             ng-if="distintivo.tipo == 'Brevetto' && distintivo.ragazzo == dati.user.codice">

                        <!-- EVENTUALI SPECIALITA' -->
                        <img ng-src="../{{distintivo.img_url}}" class="specialita"
                             ng-repeat="distintivo in dati.distintivi | orderBy:'nome'"
                             ng-if="distintivo.tipo == 'Specialità' && distintivo.ragazzo == dati.user.codice">
                    </div>
                    <div flex="50">
                        <div ng-repeat="squadriglia in dati.squadriglie"
                             ng-if="dati.user.sq != '' && squadriglia.nome == dati.user.sq" class="omerale"
                             ng-style="{ 'background-color': squadriglia.primary, 'color': squadriglia.accent }">
                            <b>Sq. {{dati.user.sq}}</b>
                        </div>

                        <img ng-src="../images/scoperta.jpg" class="tappa"
                             ng-if="dati.user.tappa != '' && dati.user.tappa == 'Scoperta'">
                        <img ng-src="../images/competenza.jpg" class="tappa"
                             ng-if="dati.user.tappa != '' && dati.user.tappa == 'Competenza'">
                        <img ng-src="../images/responsabilita.jpg" class="tappa"
                             ng-if="dati.user.tappa != '' && dati.user.tappa == 'Responsabilità'">
                    </div>
                </div>

            </div>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
    </div>
</md-content>